body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.App-header {
  background-color: #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.App-header button {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-header button:hover {
  background-color: #0056b3;
}
